* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  overflow-x: hidden;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover:not(.active) {
  /* background-color: #ddd; */
}

.nav-item a.active {
  color: white;
  background-color: #4caf50;
}

#whole-site {
  background-color: #333;   
}

#logo {
  height: 20px;
}

.intro-back {
  background-color: #7026ff;   
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.outro-back {
  background-color: #7026ff;   
  padding-top: 40vh;
  padding-bottom: 40vh;
}

#introimage {
  margin-top: -1px;
  width: 100vw;
  filter: drop-shadow( 5px 5px 2px rgba(0, 0, 0, .7));
}

#outroimage {
  margin-bottom: -5px;
  width: 100vw;
  transform: rotate(180deg);
}

#outroimage2 {
  margin-top: -2px;
  width: 100vw;
  filter: drop-shadow( 5px 5px 2px rgba(0, 0, 0, .7));
  position: absolute;
}

#container {
  margin: auto;
  padding-top: 10vh; 
  width: 80vw;
  height: 90vh;
  color: black;
  display: flex;
  justify-content: space-between;
}

#intro {
  width: 60vw;
  margin: 0 auto;
}

.header {
    font-size: 5vw;
    margin: 20px 0;
}

.description {
  font-size: 2vw;
}

.title {
  font-size: 3vw;
  margin-bottom: 20px;
  color: white;
}

.subtitle {
  font-size: 2vw;
  color: white;
}

#signup-button {
  padding: 10px;
  background-color: white;
  border-style: none;
  border-radius: 20px;
  position: relative;
  z-index: 100;
  margin: 20px 0;
}

#animation {
  height: 60vh;
  padding: 20vh;
}

#img-width {
  width: 35vw;
}

#header-image {
  width: 35vw;
}

#text-width {
  width: 35vw;
}

#main-blocks {
  width: 80vw;
  border-radius: 20px;
  background-color: white;
  opacity: 0.9;
  margin: auto;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 100px;
}

#main-block-header {
  margin: 30px auto;
  width: 70vw;  
  color: white;
}

.draggable {
  cursor: move;
}

#block {
  width: 18vw;
}

#block-title {
  margin-bottom: 20px;
}

#footer {
  height: 10vh;
  padding-top: 20vh;
  width: 100%;
  background-color: #ddd; 
}